<div>
  <!-- <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addUser">Add User</button>        -->
</div>
<div class="modal fade" id="changePassword" [ngStyle]="{'display':display}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- *ngIf="item.title != 'Id'" -->
          <form [formGroup]="userForm">
              <div class="form-group item">
                <label>Current Password</label><span class="requerd">*</span>
                <input type="password" class="form-control" formControlName='currentPassword' [(ngModel)]="currentPassword">
                <div *ngIf="userForm.controls['currentPassword'].invalid && (userForm.controls['currentPassword'].dirty || userForm.controls['currentPassword'].touched)">
                  <div *ngIf="userForm.controls['currentPassword'].errors.required">
                    <p class="error-msg">Current Password is required.</p>
                  </div>
                </div>
                <div *ngIf="!passwordValidation">
                  <p class="error-msg">Password Not Valid</p>
                </div>
              </div>
              <div class="form-group item">
                <label>New Password</label><span class="requerd">*</span>
                <input type="password" class="form-control" formControlName='newPassword'>
                <div *ngIf="userForm.controls['newPassword'].invalid && (userForm.controls['newPassword'].dirty || userForm.controls['newPassword'].touched)">
                  <div *ngIf="userForm.controls['newPassword'].errors.required">
                    <p class="error-msg">New Password is required.</p>
                  </div>
                </div>
              </div>
              <div class="form-group item">
                <label>Confirm New Password</label><span class="requerd">*</span>
                <input type="password" class="form-control" formControlName='confirmNewPassword'>
                <div *ngIf="userForm.controls['confirmNewPassword'].invalid && (userForm.controls['confirmNewPassword'].dirty || userForm.controls['confirmNewPassword'].touched)">
                  <div *ngIf="userForm.controls['confirmNewPassword'].errors.required">
                    <p class="error-msg">Confirm New Password is required.</p>
                  </div>
                </div>
              </div>
              <div *ngIf="!passwordConfirmValidation">
                <p class="error-msg">Password Not Match.</p>
              </div>
          </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="changePassword()">Submit</button>
      </div>
    </div>
  </div>
</div>