nav{
    height: 40px;
    color: white;
}
.navbar-nav {
    margin-left: 150px;
    font-weight: 500;
}
.navbar-nav li a{
    color: white;
}
.li-active-style{
    border-bottom-color:#FF0040;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-bottom: 4px;
    border-radius: 2px;
}
.navbar-brand{
    font-weight: 600;
}
.title{
    margin-top: 50px;
    border-left-color: #FF0040;
    border-left-style: solid;
    margin-left: 26px;
    padding-left: 10px;
    border-left-width: 7px;
}
.row {
    margin-right: 9px;
    margin-left: 11px;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: white;
    text-align: inherit;
    white-space: nowrap;
    background-color: #343a40;
    border: 0;
}
.dropdown{
    padding-top: 8px;
    padding-right: 10px;
}
dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #FF0040;
}

@media (max-width: 500.98px) { 
    nav{
        height: 55px;
    }
    .navbar-collapse{
        background-color: #343a40;
        z-index: 2;
    }
   }
  
   /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) { 
    nav{
        height: 55px;
        
    }
    .navbar-collapse{
        background-color: #343a40;
        z-index: 2;
    }
   }
   @media (min-width: 768px) and (max-width: 991.98px) {
    nav{
        height: 55px;
    }
    .navbar-collapse{
        background-color: #343a40;
        z-index: 2;
    }
   }