<app-navbar></app-navbar>
<h3 class="title-fonts">Favorite Areas</h3>
<div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">
      <div *ngFor="let item of areaData.slice(0,4)">
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="http://localhost:51621/Images/{{item.Image}}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text title">{{item.AreaName}}</p>
              <p class="card-text map"><i class="fas fa-map-marker-alt"></i> {{item.DistanceAmman}} KM From City Center ,
                {{item.DistanceAirport}} KM From Airport</p>
              <div class="row">
                <div class="col-md-6">
                  <span class="card-text" (click)="viewHotels(item.TypeofTourism,item.City)" style="cursor: pointer"><i
                      class="fas fa-hotel"></i> Hotels</span>
                </div>
                <div class="col-md-6">
                  <span class="card-text" (click)="viewRestaurants(item.TypeofTourism,item.City)"
                    style="cursor: pointer"><i class="far fa-calendar-alt"></i> Events</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" *ngIf="dataLength > 4">
      <div *ngFor="let item of areaData.slice(4,8)">
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="http://localhost:51621/Images/{{item.Image}}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text title">{{item.AreaName}}</p>
              <p class="card-text map"><i class="fas fa-map-marker-alt"></i> {{item.DistanceAmman}} KM From City Center ,
                {{item.DistanceAirport}} KM From Airport</p>
              <div class="row">
                <div class="col-md-6">
                  <span class="card-text" (click)="viewHotels(item.TypeofTourism,item.City)" style="cursor: pointer"><i
                      class="fas fa-hotel"></i> Hotels</span>
                </div>
                <div class="col-md-6">
                  <span class="card-text" (click)="viewRestaurants(item.TypeofTourism,item.City)"
                    style="cursor: pointer"><i class="far fa-calendar-alt"></i> Events</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" *ngIf="dataLength > 8">
      <div *ngFor="let item of areaData.slice(8,12)">
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="http://localhost:51621/Images/{{item.Image}}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text title">{{item.AreaName}}</p>
              <p class="card-text map"><i class="fas fa-map-marker-alt"></i> {{item.DistanceAmman}} KM From City Center ,
                {{item.DistanceAirport}} KM From Airport</p>
              <div class="row">
                <div class="col-md-6">
                  <span class="card-text" (click)="viewHotels(item.TypeofTourism,item.City)" style="cursor: pointer"><i
                      class="fas fa-hotel"></i> Hotels</span>
                </div>
                <div class="col-md-6">
                  <span class="card-text" (click)="viewRestaurants(item.TypeofTourism,item.City)"
                    style="cursor: pointer"><i class="far fa-calendar-alt"></i> Events</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" *ngIf="dataLength > 12">
      <div *ngFor="let item of areaData.slice(12,16)">
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="http://localhost:51621/Images/{{item.Image}}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text title">{{item.AreaName}}</p>
              <p class="card-text map"><i class="fas fa-map-marker-alt"></i> {{item.DistanceAmman}} KM From City Center ,
                {{item.DistanceAirport}} KM From Airport</p>
              <div class="row">
                <div class="col-md-6">
                  <span class="card-text" (click)="viewHotels(item.TypeofTourism,item.City)" style="cursor: pointer"><i
                      class="fas fa-hotel"></i> Hotels</span>
                </div>
                <div class="col-md-6">
                  <span class="card-text" (click)="viewRestaurants(item.TypeofTourism,item.City)"
                    style="cursor: pointer"><i class="far fa-calendar-alt"></i> Events</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" *ngIf="dataLength > 16">
      <div *ngFor="let item of areaData.slice(16,20)">
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="http://localhost:51621/Images/{{item.Image}}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text title">{{item.AreaName}}</p>
              <p class="card-text map"><i class="fas fa-map-marker-alt"></i> {{item.DistanceAmman}} KM From City Center ,
                {{item.DistanceAirport}} KM From Airport</p>
              <div class="row">
                <div class="col-md-6">
                  <span class="card-text" (click)="viewHotels(item.TypeofTourism,item.City)" style="cursor: pointer"><i
                      class="fas fa-hotel"></i> Hotels</span>
                </div>
                <div class="col-md-6">
                  <span class="card-text" (click)="viewRestaurants(item.TypeofTourism,item.City)"
                    style="cursor: pointer"><i class="far fa-calendar-alt"></i> Events</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" *ngIf="dataLength > 20">
      <div *ngFor="let item of areaData.slice(20,24)">
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="http://localhost:51621/Images/{{item.Image}}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text title">{{item.AreaName}}</p>
              <p class="card-text map"><i class="fas fa-map-marker-alt"></i> {{item.DistanceAmman}} KM From City Center ,
                {{item.DistanceAirport}} KM From Airport</p>
              <div class="row">
                <div class="col-md-6">
                  <span class="card-text" (click)="viewHotels(item.TypeofTourism,item.City)" style="cursor: pointer"><i
                      class="fas fa-hotel"></i> Hotels</span>
                </div>
                <div class="col-md-6">
                  <span class="card-text" (click)="viewRestaurants(item.TypeofTourism,item.City)"
                    style="cursor: pointer"><i class="far fa-calendar-alt"></i> Events</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" *ngIf="dataLength > 24">
        <div *ngFor="let item of areaData.slice(24,28)">
          <div class="col-md-3 mb-3">
            <div class="card">
              <img class="img-fluid" src="http://localhost:51621/Images/{{item.Image}}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text title">{{item.AreaName}}</p>
                <p class="card-text map"><i class="fas fa-map-marker-alt"></i> {{item.DistanceAmman}} KM From City Center ,
                  {{item.DistanceAirport}} KM From Airport</p>
                <div class="row">
                  <div class="col-md-6">
                    <span class="card-text" (click)="viewHotels(item.TypeofTourism,item.City)" style="cursor: pointer"><i
                        class="fas fa-hotel"></i> Hotels</span>
                  </div>
                  <div class="col-md-6">
                    <span class="card-text" (click)="viewRestaurants(item.TypeofTourism,item.City)"
                      style="cursor: pointer"><i class="far fa-calendar-alt"></i> Events</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="controls-top" align="center" *ngIf="dataLength > 4">
    <a class="black-text" href="#multi-item-example" data-slide="prev"><i class="fas fa-angle-left fa-3x pr-3"></i></a>
    <a class="black-text" href="#multi-item-example" data-slide="next"><i class="fas fa-angle-right fa-3x pl-3"></i></a>
  </div>
</div>

<div *ngIf="viewHotelsSection">
  <app-hotels-and-faclities [from]="from" [typeofTourism]="typeofTourism" [city]="city"></app-hotels-and-faclities>
</div>
<div *ngIf="viewRestaurantsSection">
  <app-hotels-and-faclities [from]="from" [typeofTourism]="typeofTourism" [city]="city"></app-hotels-and-faclities>
</div>