
<!-- <app-navbar></app-navbar> -->
<app-add-user-modal></app-add-user-modal>
<app-login-user-modal></app-login-user-modal>
<app-add-tourist-area-modal></app-add-tourist-area-modal>
<app-add-hotel-modal></app-add-hotel-modal>
<app-add-faclities-modal></app-add-faclities-modal>
<!-- <app-change-password-modal></app-change-password-modal> -->
<span style="font-family: Comic Sans MS, cursive, sans-serif;">
        <router-outlet></router-outlet>
</span>
<!-- <div align="center">
        <app-loading-comp></app-loading-comp>
</div>
       -->
