<!-- <app-navbar></app-navbar> -->
<!-- Slider-->
<app-navbar></app-navbar>
<div id="demo" class="carousel slide" data-ride="carousel" style="margin-top: -58px;">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/image/sl1.jpg" alt="" width="100%" height="500">
        </div>
        <div class="carousel-item">
            <img src="../../assets/image/sl2.jpg" alt="" width="100%" height="500">
        </div>
        <div class="carousel-item">
            <img src="../../assets/image/sl3.jpg" alt="" width="100%" height="500">
        </div>
        <div class="carousel-item">
            <img src="../../assets/image/sl4.jpg" alt="" width="100%" height="500">
        </div>
        <div class="carousel-item">
            <img src="../../assets/image/sl5.jpg" alt="" width="100%" height="500">
        </div>
    </div>

    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<!-- End Slider -->
<!-- About Us -->
<div class="jumbotron">
    <div class="about-top" id="about">

        <div class="abot">
            <div class="container">
                <h1>About Us</h1>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <span class="fas fa-chess" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <span class="fas fa-bus" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <span class="fas fa-plane-departure" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <span class="fas fa-archway" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bodyy">
    <div class="container">
        <div class="stats-info">
            <div class="row stat">
                <div class="col-md-3 col-sm-3 ">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <div class='numscroller ' data-slno='1' data-min='0' data-max='400000' data-delay='.5'
                        data-increment="1">400000</div>

                    <h4 class="stats-info">NUMBER OF TOURISTS</h4>
                </div>
                <div class="col-md-3 col-sm-3 ">
                    <i class="fas fa-plane" aria-hidden="true"></i>
                    <div class='numscroller ' data-slno='1' data-min='0' data-max='9000' data-delay='.5'
                        data-increment="1">9000</div>

                    <h4 class="stats-info">NUMBER OF <br>TRIPS</h4>
                </div>
                <div class="col-md-3 col-sm-3 ">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <div class='numscroller ' data-slno='1' data-min='0' data-max='100' data-delay='.5'
                        data-increment="10">100</div>

                    <h4 class="stats-info">NUMBER OF TOURIST PLACES</h4>
                </div>
                <div class="col-md-3 col-sm-3 ">
                    <i class="fas fa-bus" aria-hidden="true"></i>
                    <div class='numscroller ' data-slno='1' data-min='0' data-max='200' data-delay='.5'
                        data-increment="1">200</div>

                    <h4 class="stats-info">CERTIFIED TEACHERS</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- End About Us -->
<!-- Services -->
<div class="about-top" id="services">
    <div class="container">
        <div class="abot">
            <h1>Our Services</h1>
            <h2>---- <i class="fas fa-plane" aria-hidden="true"></i> ----</h2>
        </div>
        <div class="row serv">
            <div class="col-md-4 col-xs-4">
                <span class="fas fa-mosque" aria-hidden="true"></span>
                <h5>Religious Tourism</h5>
                <!-- <p>Itaque earum rerum hic a sapiente delectus in auctor sapien. Itaque earum rerum hic a sapiente delectus in auctor sapien.</p> -->
            </div>
            <div class="col-md-4 col-xs-4">
                <h5>Recreational Tourism</h5>
                <!-- <p>Itaque earum rerum hic a sapiente delectus in auctor sapien. Itaque earum rerum hic a sapiente delectus in auctor sapien.</p> -->
                <span class="fas fa-umbrella-beach"></span>
            </div>
            <div class="col-md-4 col-xs-4">
                <span class="fas fa-chess" aria-hidden="true"></span>

                <h5>Archaeological Tourism</h5>
                <!-- <p>Itaque earum rerum hic a sapiente delectus in auctor sapien. Itaque earum rerum hic a sapiente delectus in auctor sapien.</p> -->
            </div>

        </div>

    </div>
</div>
<!-- End Services -->

<!-- Gellary -->
<!-- <div class="gellary" id="gallery">
    <div class="container">
        <h2>Our Gallery</h2>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <a href="areas-home-page/enviromental/ajlun.html" target="_blank"><img src="../../assets/image/1.jpg" class="img-responsive" alt="/"></a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="../../assets/image/2.jpg" class="img-responsive" alt="/">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="../../assets/image/3.jpg" class="img-responsive" alt="/">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="../../assets/image/4.jpg" class="img-responsive" alt="/">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="../../assets/image/5.jpg" class="img-responsive" alt="/">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="../../assets/image/6.jpg" class="img-responsive" alt="/">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="../../assets/image/7.jpg" href="" data-toggle="modal" data-target="#viewDesc" class="img-responsive" alt="/">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="../../assets/image/8.jpg" class="img-responsive" alt="/">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="../../assets/image/9.jpg" class="img-responsive" alt="/">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="../../assets/image/10.jpg" class="img-responsive" alt="/">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="../../assets/image/11.jpg" class="img-responsive" alt="/">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="../../assets/image/12.jpg" class="img-responsive" alt="/">
            </div>
        </div>
    </div>
</div> -->


<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top" align="center">
      <a class="black-text" href="#multi-item-example" data-slide="prev"><i class="fas fa-angle-left fa-3x pr-3"></i></a>
      <a class="black-text" href="#multi-item-example" data-slide="next"><i class="fas fa-angle-right fa-3x pl-3"></i></a>
    </div>
    <!--/.Controls-->
  
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
  
      <!--First slide-->
      <div class="carousel-item active">
        <div align="center" class="title-carousel">Enviromental</div>
        <hr>
        <div class="row">
        <div class="col-md-3 mb-3">
          <div class="card">
            <a href="http://localhost:51621/tourisim%20sites/enviromental/ajlun.html" target="_blank"><img class="img-fluid" src="../../assets/image/ajlun.jpg"
              alt="Card image cap"></a>
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <a href="http://localhost:51621/tourisim%20sites/enviromental/azraq.html" target="_blank"><img class="img-fluid" src="../../assets/image/azraq.jpg"
                alt="Card image cap"></a>
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <a href="http://localhost:51621/tourisim%20sites/enviromental/dana.html" target="_blank"><img class="img-fluid" src="../../assets/image/dana.jpg"
                alt="Card image cap"></a>
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <a href="http://localhost:51621/tourisim%20sites/enviromental/debben.html" target="_blank"><img class="img-fluid" src="../../assets/image/debben.jpg"
                alt="Card image cap"></a>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
              <a href="http://localhost:51621/tourisim%20sites/enviromental/mowjib.html" target="_blank"><img class="img-fluid img-scroll" src="../../assets/image/mowjeb2.jpg"
                  alt="Card image cap"></a>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <div class="card">
              <a href="http://localhost:51621/tourisim%20sites/enviromental/shomari.html" target="_blank"><img class="img-fluid img-scroll" src="../../assets/image/shomari.jpg"
                  alt="Card image cap" style="height: 261px;"></a>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <div class="card">
              <a href="http://localhost:51621/tourisim%20sites/enviromental/wadirum.html" target="_blank"><img class="img-fluid img-scroll" src="../../assets/image/wadirum.jpg"
                  alt="Card image cap" style="height: 261px;"></a>
            </div>
          </div>
        </div>

      </div>
      <!--/.First slide-->
  
      <!--Second slide-->
      <div class="carousel-item">
        <div align="center" class="title-carousel">Historical</div>
        <hr>
        <div class="row">
        <div class="col-md-3 mb-3">
            <div class="card">
              <a href="http://localhost:51621/tourisim%20sites/historical/Castles.html" target="_blank"><img class="img-fluid" src="../../assets/image/Castles.jpg"
                  alt="Card image cap" ></a>
            </div>
          </div>
  
          <div class="col-md-3 mb-3">
            <div class="card">
              <a href="http://localhost:51621/tourisim%20sites/historical/Citadel.html" target="_blank"><img class="img-fluid" src="../../assets/image/citadl2.jpeg"
                  alt="Card image cap"></a>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card">
              <a href="http://localhost:51621/tourisim%20sites/historical/jerash.html" target="_blank"><img class="img-fluid" src="../../assets/image/jerash.jpg"
                  alt="Card image cap" ></a>
            </div>
          </div>
  
          <div class="col-md-3 mb-3">
            <div class="card">
              <a href="http://localhost:51621/tourisim%20sites/historical/petra.html" target="_blank"><img class="img-fluid" src="../../assets/image/Petra-home.jpg"
                  alt="Card image cap"></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="card">
              <a href="http://localhost:51621/tourisim%20sites/historical/Romanamphitheater.html" target="_blank"><img class="img-fluid img-scroll" src="../../assets/image/Romanamphitheater.jpg"
                  alt="Card image cap" ></a>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <div class="card">
              <a href="http://localhost:51621/tourisim%20sites/historical/UmmQais.html" target="_blank"><img class="img-fluid img-scroll" src="../../assets/image/UmmQais2.jpg"
                  alt="Card image cap" ></a>
            </div>
          </div>
          </div>
      </div>
      <!--/.Second slide-->
  
      <!--Third slide-->
      <div class="carousel-item">
        <div align="center" class="title-carousel">Medical</div>
        <hr>
        <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
              <a href="http://localhost:51621/tourisim%20sites/medical/AfraFalls.html" target="_blank"><img class="img-fluid img-scroll" src="../../assets/image/AfraFalls2.jpg"
                  alt="Card image cap" ></a>
            </div>
          </div>
  
          <div class="col-md-4 mb-3">
            <div class="card">
              <a href="http://localhost:51621/tourisim%20sites/medical/DeadSea.html" target="_blank"><img class="img-fluid img-scroll" src="../../assets/image/DeadSea.jpg"
                  alt="Card image cap" ></a>
            </div>
          </div>
  
          <div class="col-md-4 mb-3">
            <div class="card">
              <a href="http://localhost:51621/tourisim%20sites/medical/Main.html" target="_blank"><img class="img-fluid img-scroll" src="../../assets/image/main.jpg"
                  alt="Card image cap" ></a>
            </div>
          </div>
        </div>
      </div>
      <!--/.Third slide-->
      
      <div class="carousel-item">
        <div align="center" class="title-carousel">Museum</div>
        <hr>
        <div class="col-md-3 mb-3">
            <div class="card">
              <a href="http://localhost:51621/tourisim%20sites/museum/AqabaArchaeologicalMuseum.html" target="_blank"><img class="img-fluid" src="../../assets/image/AqabaArchaeologicalMuseum.jpg"
                  alt="Card image cap" ></a>
            </div>
          </div>
          
          <div class="col-md-3 mb-3">
            <div class="card">
              <a href="http://localhost:51621/tourisim%20sites/museum/jordanarcmuseusm.html" target="_blank"><img class="img-fluid" src="../../assets/image/jordanarcmuseum.jpg"
                  alt="Card image cap" ></a>
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <div class="card">
              <a href="http://localhost:51621/tourisim%20sites/museum/jordanfolkmuseum.html" target="_blank"><img class="img-fluid" src="../../assets/image/jordanfolkmuseum.jpg"
                  alt="Card image cap" ></a>
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <div class="card">
              <a href="http://localhost:51621/tourisim%20sites/museum/jordanpopmuseum.html" target="_blank"><img class="img-fluid" src="../../assets/image/jordanpopmuseum.jpg"
                  alt="Card image cap" ></a>
            </div>
          </div>
          
  
      </div>

      <div class="carousel-item">
        <div align="center" class="title-carousel">Religious</div>
        <hr>
        <div class="col-md-3 mb-3">
            <div class="card">
              <a href="http://localhost:51621/tourisim%20sites/religious/baptism.html" target="_blank"><img class="img-fluid" src="../../assets/image/baptism.jpg"
                  alt="Card image cap" ></a>
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <div class="card">
              <a href="http://localhost:51621/tourisim%20sites/religious/Mountnebo.html" target="_blank"><img class="img-fluid" src="../../assets/image/mountnebo.jpg"
                  alt="Card image cap" ></a>
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <div class="card">
              <a href="http://localhost:51621/tourisim%20sites/religious/sevensleepers.html" target="_blank"><img class="img-fluid" src="../../assets/image/sevensleepers.jpg"
                  alt="Card image cap" ></a>
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <div class="card">
              <a href="http://localhost:51621/tourisim%20sites/religious/shrines.html" target="_blank"><img class="img-fluid" src="../../assets/image/shrines1.jpg"
                  alt="Card image cap" ></a>
            </div>
          </div>
  
      </div>

    </div>
    <!--/.Slides-->
  
  </div>
  <!--/.Carousel Wrapper-->
<!-- End Gellary -->

<!-- Team -->
<!-- <div class="team" id="team">
    <div class="container">
        <h3>Developers</h3>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="card col-md-3 col-xs-6" style="width: 18rem;">
                        <img class="card-img-top" src="../../assets/image/t1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Wael Ananzeh</p>
                        </div>
                    </div>
                    <div class="card col-md-3" style="width: 18rem;">
                        <img class="card-img-top" src="../../assets/image/t2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Rania Yousef</p>
                        </div>
                    </div>
                    <div class="card col-md-3" style="width: 18rem;">
                        <img class="card-img-top" src="../../assets/image/t2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Yara Alomari</p>
                        </div>
                    </div>
                    <div class="card col-md-3" style="width: 18rem;">
                      <img class="card-img-top" src="../../assets/image/t2.jpg" alt="Card image cap">
                      <div class="card-body">
                          <p class="card-text">Renad Omar</p>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- End Team -->
<div id="mail" class="contact">
    <h2>Mail US</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-3 cont">
                <i class="fas fa-map-marker-alt"></i>
                <h3>Address</h3>
                <p>Amman / Jordan</p>

            </div>
            <div class="col-md-3 cont">
                <i class="fas fa-mobile-alt"></i>
                <h3>Phone Number</h3>
                <p>+962784412321</p>

            </div>
            <div class="col-md-3 cont">
                <i class="fas fa-envelope"></i>
                <h3>Email</h3>
                <p>Wael@hu.edu.jo</p>

            </div>
        </div>


    </div>
</div>
<div class="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d4442.14718237803!2d35.934743161097046!3d31.859241406766156!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sjo!4v1540625821794"
        width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="finaly">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>ABOUT US</h3>
                <p>welcome to our company. lokanthali khabar one of the popular news portal in bhaktapur........</p>
            </div>
            <div class="col-md-3 w1">
                <h3>NAVIGATION</h3>
                <span><i class="fas fa-angle-right"></i><a href="index.html"> Home</a></span><br>
                <span><i class="fas fa-angle-right"></i><a href="#about"> About us</a></span><br>
                <span><i class="fas fa-angle-right"></i><a href="#services"> Services</a></span><br>
                <span><i class="fas fa-angle-right"></i><a href="#gallery"> Gallery</a></span><br>
                <span><i class="fas fa-angle-right"></i><a href="#mail"> Mail us</a></span><br>

            </div>
            <div class="col-md-3 w2">
                <h3>OTHERS</h3>
                <span><i class="fas fa-angle-right"></i> <a href="#"> Media</a></span><br>
                <span><i class="fas fa-angle-right"></i> <a href="#"> Mobile Apps</a></span><br>
            </div>
            <div class="col-md-3 w3">
                <h3>CONTACT US</h3>
                <span><i class="fab fa-facebook"></i> <a href="#"> Facebook</a></span><br>
                <span><i class="fab fa-twitter"></i> <a href="#"> Twitter</a></span><br>
                <span><i class="fab fa-instagram"></i> <a href="#"> Instagram</a></span><br>
                <span><i class="fab fa-youtube"></i> <a href="#"> Youtube</a></span>
            </div>
        </div>

    </div>


</div>
<div class="end_par">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>© HU STUDENT 2019-2020 </p>
            </div>
        </div>
    </div>
</div>
<app-view-desc-modal></app-view-desc-modal>